In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('test/employees.csv')

In [38]:
df

,employeeid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,homephone,extension,reportsto
0,1,Davolio,Nancy,Sales Representative,Ms.,12/8/1948,5/1/1992,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,2.0
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,2/19/1952,8/14/1992,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,NaN
2,3,Leverling,Janet,Sales Representative,Ms.,8/30/1963,4/1/1992,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,2.0
3,4,Peacock,Margaret,Sales Representative,Mrs.,9/19/1937,5/3/1993,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,2.0
4,5,Buchanan,Steven,Sales Manager,Mr.,3/4/1955,10/17/1993,14 Garrett Hill,London,NaN,SW1 8JR,UK,(71) 555-4848,3453,2.0
5,6,Suyama,Michael,Sales Representative,Mr.,7/2/1963,10/17/1993,Coventry House\nMiner Rd.,London,NaN,EC2 7JR,UK,(71) 555-7773,428,5.0
6,7,King,Robert,Sales Representative,Mr.,5/29/1960,1/2/1994,Edgeham Hollow\nWinchester Way,London,NaN,RG1 9SP,UK,(71) 555-5598,465,5.0
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1/9/1958,3/5/1994,4726 - 11th Ave. N.E.,Seattle,WA,98105,USA,(206) 555-1189,2344,2.0
8,9,Dodsworth,Anne,Sales Representative,Ms.,1/27/1966,11/15/1994,7 Houndstooth Rd.,London,NaN,WG2 7LT,UK,(71) 555-4444,452,5.0

In [39]:
df = df.fillna("NA")

In [40]:
df

,employeeid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,homephone,extension,reportsto
0,1,Davolio,Nancy,Sales Representative,Ms.,12/8/1948,5/1/1992,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,2.0
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,2/19/1952,8/14/1992,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,NA
2,3,Leverling,Janet,Sales Representative,Ms.,8/30/1963,4/1/1992,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,2.0
3,4,Peacock,Margaret,Sales Representative,Mrs.,9/19/1937,5/3/1993,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,2.0
4,5,Buchanan,Steven,Sales Manager,Mr.,3/4/1955,10/17/1993,14 Garrett Hill,London,NA,SW1 8JR,UK,(71) 555-4848,3453,2.0
5,6,Suyama,Michael,Sales Representative,Mr.,7/2/1963,10/17/1993,Coventry House\nMiner Rd.,London,NA,EC2 7JR,UK,(71) 555-7773,428,5.0
6,7,King,Robert,Sales Representative,Mr.,5/29/1960,1/2/1994,Edgeham Hollow\nWinchester Way,London,NA,RG1 9SP,UK,(71) 555-5598,465,5.0
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1/9/1958,3/5/1994,4726 - 11th Ave. N.E.,Seattle,WA,98105,USA,(206) 555-1189,2344,2.0
8,9,Dodsworth,Anne,Sales Representative,Ms.,1/27/1966,11/15/1994,7 Houndstooth Rd.,London,NA,WG2 7LT,UK,(71) 555-4444,452,5.0

In [41]:
df.to_csv("employees.csv",index=0)

In [42]:
df

,employeeid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,homephone,extension,reportsto
0,1,Davolio,Nancy,Sales Representative,Ms.,12/8/1948,5/1/1992,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,2.0
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,2/19/1952,8/14/1992,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,NA
2,3,Leverling,Janet,Sales Representative,Ms.,8/30/1963,4/1/1992,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,2.0
3,4,Peacock,Margaret,Sales Representative,Mrs.,9/19/1937,5/3/1993,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,2.0
4,5,Buchanan,Steven,Sales Manager,Mr.,3/4/1955,10/17/1993,14 Garrett Hill,London,NA,SW1 8JR,UK,(71) 555-4848,3453,2.0
5,6,Suyama,Michael,Sales Representative,Mr.,7/2/1963,10/17/1993,Coventry House\nMiner Rd.,London,NA,EC2 7JR,UK,(71) 555-7773,428,5.0
6,7,King,Robert,Sales Representative,Mr.,5/29/1960,1/2/1994,Edgeham Hollow\nWinchester Way,London,NA,RG1 9SP,UK,(71) 555-5598,465,5.0
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1/9/1958,3/5/1994,4726 - 11th Ave. N.E.,Seattle,WA,98105,USA,(206) 555-1189,2344,2.0
8,9,Dodsworth,Anne,Sales Representative,Ms.,1/27/1966,11/15/1994,7 Houndstooth Rd.,London,NA,WG2 7LT,UK,(71) 555-4444,452,5.0

In [43]:
from langchain import HuggingFaceHub

repo_id = "google/flan-t5-xl" # See https://huggingface.co/models?pipeline_tag=text-generation&sort=downloads for some other options

llm = HuggingFaceHub(repo_id=repo_id, model_kwargs={"temperature":0, "max_length":64})

ValidationError: 1 validation error for HuggingFaceHub
__root__
  Did not find huggingfacehub_api_token, please add an environment variable `HUGGINGFACEHUB_API_TOKEN` which contains it, or pass  `huggingfacehub_api_token` as a named parameter. (type=value_error)